{% extends "base.html" %}
{% load taggit_templatetags2_tags %}
{% block body %}
    <!-- Page Content -->
    <div class="container container-body ">

        <!-- Page Heading -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Боги убивают котенка
                    каждый раз, когда вы…
                </h1>
            </div>
        </div>
        <!-- /.row -->

<div class="col-md-9">
 {% if reasons %}

            {% for reason in reasons %}
        <!-- Project One -->
        <div class="row">

            <div class="col-md-8">
               <a href="/reason/{{ reason.id }}/">{{ reason.title }}</a>
                <div class="row">
                    <div class="col-md-2">
                        <span class="good">↑</span>
                        {{ reason.rating }}
                        <span class="bad">↓</span>
                    </div>
                    <div class="col-md-2">
                        {{ reason.created_at|date:"D d M Y"}}
                    </div>
                    <div class="col-md-2">
                        {{ reason.rating }}
                    </div>
                     <div class="col-md-2">


                    {% for tag in reason.tags.all %}
                        <span class="tags"> {{ tag.name }} </span>
                    {% endfor %}

             </div>
                </div>
            </div>
        </div>
            {% endfor %}

    {% else %}
        <p>No reasons are available.</p>
    {% endif %}
</div>
    <div class="col-md-3">

    {% include_tagcloud 'bash.Reason'%}


    </div>
        <!-- /.row -->

        <!-- /.row -->

        <hr>

        <!-- Pagination -->
        <div class="row text-center">
            <div class="col-lg-12">
           <ul class="pagination">
    <span class="step-links">
        {% if reasons.has_previous %}
            <a href="?page={{ reasons.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ reasons.number }} of {{ reasons.paginator.num_pages }}.
        </span>

        {% if reasons.has_next %}
            <a href="?page={{ reasons.next_page_number }}">next</a>
        {% endif %}
    </span>
</ul>
            </div>
        </div>
        <!-- /.row -->

        <hr>

        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; Your Website 2014</p>
                </div>
            </div>
            <!-- /.row -->
        </footer>

    </div>
    <!-- /.container -->
{% endblock %}


{# Read the documentation for more information #}