{% extends "base.html" %}
{# Load the tag library #}
{% load bitly %}



{% block body %}
    <!-- Page Content -->
    <div class="container container-body">

        <!-- Page Heading -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Page Heading
                    <small>Secondary Text</small>
                </h1>
            </div>
        </div>
        <!-- /.row -->


 {% if reason %}


        <!-- Project One -->
        <div class="row">

            <div class="col-md-8">
              <h2><i>Боги убивают котенка каждый раз, когда вы :</i></h2> <h3>{{ reason.title}}</h3>
              <div class="row">
        <h2>Почему?</h2>
     <div class="col-md-8">
         <h3>{{ reason.description }}</h3>
     </div>
      </div>
         <div class="row">
             <div class="col-md-2">
                    <h2>Tags</h2>
                    <ul>
                    {% for tag in reason.tags.all %}
                        <li> {{ tag.name }} </li>
                    {% endfor %}
                </ul>
             </div>
            <div class="col-md-2">
                <h2>Rating</h2>
                {{ reason.rating }}
            </div>
            <div class="col-md-2">
                <h2>Created at</h2>
                {{ reason.created_at}}
            </div>
         </div>
        </div>
        <div class="col-md-4 sharing-block">
            Вы можете распечатать, вставить в рамочку, и прибить на стенку это сообщение.
            Или отправить кому-нибудь ссылку на него. Вот она:
            <input type="text" value="{{ reason|bitlify }}">
        </div>
     </div>





    {% endif %}
        <!-- /.row -->


        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; Your Website 2014</p>
                </div>
            </div>
            <!-- /.row -->
        </footer>

    </div>
    <!-- /.container -->
{% endblock %}
{# Read the documentation for more information #}